/* Text Styling */

@layer utilities {
  /* Text Styles */

  /* Bold text classes */
  .font-bold-56 {
    font: var(--font-bold-56);
  }
  .font-bold-48 {
    font: var(--font-bold-48);
  }
  .font-bold-40 {
    font: var(--font-bold-40);
  }
  .font-bold-38 {
    font: var(--font-bold-38);
  }
  .font-bold-32 {
    font: var(--font-bold-32);
  }
  .font-bold-18 {
    font: var(--font-bold-18);
  }
  .font-bold-14 {
    font: var(--font-bold-14);
  }

  /* Semibold text classes */
  .font-sb-28 {
    font: var(--font-sb-28);
  }
  .font-sb-24 {
    font: var(--font-sb-24);
  }
  .font-sb-20 {
    font: var(--font-sb-20);
  }
  .font-sb-18 {
    font: var(--font-sb-18);
  }
  .font-sb-16 {
    font: var(--font-sb-16);
  }
  .font-sb-14 {
    font: var(--font-sb-14);
  }
  .font-sb-12 {
    font: var(--font-sb-12);
  }

  /* Regular and medium text classes */
  .font-regular-26 {
    font: var(--font-regular-26);
  }
  .font-regular-24 {
    font: var(--font-regular-24);
  }
  .font-regular-18 {
    font: var(--font-regular-18);
  }
  .font-regular-16 {
    font: var(--font-regular-16);
  }
  .font-regular-14 {
    font: var(--font-regular-14);
  }

  .font-medium-12 {
    font: var(--font-medium-12);
  }
  .font-medium-10 {
    font: var(--font-medium-10);
  }
  .font-medium-8 {
    font: var(--font-medium-8);
  }

  /* Media query classes */
  @media screen and (min-width: 768px) {
    .md\:font-bold-56 {
      font: var(--font-bold-56);
    }
    .md\:font-bold-48 {
      font: var(--font-bold-48);
    }
    .md\:font-bold-40 {
      font: var(--font-bold-40);
    }
    .md\:font-bold-38 {
      font: var(--font-bold-38);
    }
    .md\:font-bold-32 {
      font: var(--font-bold-32);
    }
    .md\:font-bold-18 {
      font: var(--font-bold-18);
    }
    .md\:font-bold-14 {
      font: var(--font-bold-14);
    }

    .md\:font-sb-28 {
      font: var(--font-sb-28);
    }
    .md\:font-sb-24 {
      font: var(--font-sb-24);
    }
    .md\:font-sb-20 {
      font: var(--font-sb-20);
    }
    .md\:font-sb-18 {
      font: var(--font-sb-18);
    }
    .md\:font-sb-16 {
      font: var(--font-sb-16);
    }
    .md\:font-sb-14 {
      font: var(--font-sb-14);
    }
    .md\:font-sb-12 {
      font: var(--font-sb-12);
    }

    .md\:font-regular-26 {
      font: var(--font-regular-26);
    }
    .md\:font-regular-24 {
      font: var(--font-regular-24);
    }
    .md\:font-regular-18 {
      font: var(--font-regular-18);
    }
    .md\:font-regular-16 {
      font: var(--font-regular-16);
    }
    .md\:font-regular-14 {
      font: var(--font-regular-14);
    }

    .md\:font-medium-12 {
      font: var(--font-medium-12);
    }
    .md\:font-medium-10 {
      font: var(--font-medium-10);
    }
    .md\:font-medium-8 {
      font: var(--font-medium-8);
    }
  }
}
